.createCard{
    display: flex;
    margin-top: 5vh;
    height: 80vh;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.formA{
    margin: 5px;
}

.switchA{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:5vh;
}

.svg_cross:hover{
    cursor: pointer;
}

.svg_cross_container:hover{
    cursor: pointer;
}

